.yellow-color {
  color: black;
  background-color: yellow;
  margin: 10px 0px;
  padding: 10px;
}

.blue-color {
  color: white;
  background-color: blue;
  margin: 10px 0px;
  padding: 10px;
}

.red-color {
  color: white;
  background-color: red;
  margin: 10px 0px;
  padding: 10px;
}

.green-color {
  color: white;
  background-color: green;
  margin: 10px 0px;
  padding: 10px;
}

.grey-color {
  color: white;
  background-color: grey;
  margin: 10px 0px;
  padding: 10px;
}